    <article class="post"><!-- First Article (Main Post) -->
        <div class="post-img">
            <img class="w-100 img-fluid"  src="assets/img/argentina/AFtoyota.jpg" alt="Snow" ">
        </div>
        
        <div class="post-content"><!-- (Main Article) Post Details -->
            <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: wheat;"><a href="#">Alberto Fernández recibió al presidente de Toyota, que aumentará la capacidad de producción en la planta industrial de Zárate</a></h2>
            <p>
                El presidente Alberto Fernández recibió esta tarde, en Casa Rosada, al presidente de Toyota Argentina, Daniel Herrero, quien le comunicó que la empresa aumentará la capacidad productiva anual de su planta de Zárate en 27.000 unidades adicionales a partir de 2022.
           </p>
        </div>

        <a href="/AFtoyota" class="btn btn-danger">More</a> <br><br>


        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <br>
        <br>


       


          <br> <br>
     </article><!-- x ----------- End First Article (Main Post) ------------ x -->
