	<!--ARTICULO CR7 UNITED-->
    <article class="post"><!-- First Article (Main Post) -->
        <div class="post-img">
            <img class="w-100 img-fluid"  src="assets/img/local/ile.jpg" alt="Snow" ">
        </div>
        
        <div class="post-content"><!-- (Main Article) Post Details -->
            <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: wheat;"><a href="#">Concentraciones y repudios por la detención de una médica que practicó una ILE</a></h2>
            <p>
                Distintas organizaciones realizaron un pañuelazo frente al Hospital Público Materno Infantil de Salta,  frente al hospital de Tartagal, en la puerta del Ministerio Público Fiscal, de Salta, y en la puerta de la Casa de Salta en la Ciudad de Buenos Aires
            </p>

            <footer >
                <h3 class="text-light" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">fuente: Telam</h3>
            </footer>
        </div>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <br>
        <br>
        <a href="/medica-tartagal" class="btn btn-danger">ver mas</a> <br><br>


          <br> <br>
     </article><!-- x ----------- End First Article (Main Post) ------------ x -->
                     <!--END ARTICULO CR7 UNITED-->
