                                     <article class="post"><!-- First Article (Main Post) -->
                                        <div class="post-img">
                                            <img class="w-100 img-fluid"  src="assets/img/article/chc.jpg" alt="Snow" ">
                                        </div>
                                      
                                        <div class="post-content"><!-- (Main Article) Post Details -->
                                            <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: wheat;"><a href="#">La comprarias?</a></h2>
                                            <p>
                                             Hipolito Irigoyen
                                            </p>
                                        </div>
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-youtube"></a>
                                        <a href="#" class="fa fa-instagram"></a>
                                        <br>
                                        <br>
                                        <a class="btn btn-light" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Ver Mas
                                          </a>
                                          <br> <br>
                                     </article><!-- x ----------- End First Article (Main Post) ------------ x -->
                                                                          <!--END ARTICULO VENECIA-->
                