<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Toyota en Argentina </title>
	<%- include('../partials/head'); %>

</head>


<body class="vermas">

	<%- include('../partials/NavBar'); %>


      <!-- section starts  -->
      <section id="hero">
          <div class="container-xl">
              <div class="row gy-4">
                  <div class="col-lg-8">

                      <div class="post featured-post-lg">
                          <div class="details clearfix">
                              <a href="#" class="category-badge">Nacional</a>
                              <h3 class="post-title">
								Alberto Fernández recibió al presidente de Toyota, que aumentará la capacidad de producción en la planta industrial de Zárate                               
                              </h3>
                              <ul class="meta list-inline mb-0">
                                  <li class="list-inline-item">
                                     <h6>Toyota invertira en Argentina</h6>
                                  </li>
								  <br>
                                  <li class="list-inline-item">24 nov 2021</li>
                              </ul>
                          </div>
                         
                              <div class="thumb rounded">
                                  <img class="w-100 img-fluid" src="assets/img/argentina/AFtoyota.jpg" alt="">
                              </div>
                        
                      </div>

                      <ul class="meta list-inline mb-0">
                        <li class="list-inline-item">
                         <p> El presidente Alberto Fernández recibió esta tarde, en Casa Rosada, al presidente de Toyota Argentina, Daniel Herrero, quien le comunicó que la empresa aumentará la capacidad productiva anual de su planta de Zárate en 27.000 unidades adicionales a partir de 2022.

							Del encuentro participaron los ministros Matías Kulfas (Desarrollo Productivo) y Claudio Moroni (Ttabajo); Ricardo Pignanelli, secretario general de SMATA (Sindicato de Mecánicos y Afines del Transporte Automotor), y los directivos de Toyota, Daniel Afione (Director Regional de Asuntos Gubernamentales) y Ezequiel
							Vallejos Meana (Gerente General).
							
							Para responder a una demanda creciente en la región de los modelos Hilux y SW4 que la compañía produce en Zárate, Toyota elevará el ritmo de producción de 140.000 a 167.000 unidades anuales a partir de 2022 y eso generará la incorporación de 500 nuevos puestos de trabajo directos.
							
							Este incremento se traduce también en la creación de alrededor de 1.000 nuevos puestos en la cadena de valor, conformada por más de 260 proveedores y sub-proveedores de autopartes y componentes en el país.
							
							Durante la reunión, el presidente pudo interiorizarse que el 80% de la producción de Toyota Argentina se exporta a 23 países de América Latina, gracias una estrategia de especialización que favorece el superávit comercial de la operación.
							
							El aumento de la capacidad productiva es fruto del trabajo en conjunto y el diálogo constante con sindicatos, proveedores y las autoridades gubernamentales de las diferentes jurisdicciones, que comparten el objetivo de robustecer a la industria automotriz argentina y promover el desarrollo.
							
							Desde el inicio de sus actividades en 1997, Toyota lleva producidas más de 1.500.000 unidades, de las cuales más de 1 millón se exportaron a la región.
							
							La empresa informó que esta nueva inversión muestra la confianza de la compañía en las oportunidades que presentan Argentina y América Latina.
							 <br>
                        FUENTE: Casa Rosada</p>
                      
                    </ul>
                  </div>
                  <div class="col-lg-4">

                              <!-- recent  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                              <div class="inner">
                                                <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
                                            </div>
                                      </div>
                                  </div>
                                  <!-- post2  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                              <div class="inner">
                                                <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt="">
                                            </div>
                                      </div>
                                      </div>
                                  </div>
                                  <!-- post3  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                          <a href="#">
                                              <div class="inner">
                                                  <img src="assets/img/deparez-river.jpg" alt="">
                                              </div>
                                          </a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <!-- main content  -->

      <section class="carousel slide" id="carousel" data-ride="carousel" data-interval="5000"><!-- Start Carousel (Slider) Post -->
  <div class="container">
  
    <div class="carousel-inner"><!-- -------------------- Start Carousel Inner -------------------------- -->
    
      <div class="carousel-item active"><!-- ---------------- Start Carousel First Item -------------------- -->
        <div class="row">
        
          <div class="col-12 col-md-6 col-lg-6 col-xl-4"><!-- Start Carousel First Item Card Number 1 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
              
              </article>
          </div><!-- x ------------- End Carousel First Item Card Number 1 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-md-block"><!-- Start Carousel First Item Card Number 2 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt="">
              
           </article>
          </div><!-- x ------------- End Carousel First Item Card Number 2 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-xl-block"><!-- Start Carousel First Item Card Number 3 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/chc.jpg" alt="">
            </article>
          </div><!-- x ------------- End Carousel First Item Card Number 3 ----------------x -->
          
        </div>
      </div><!--x------------------------------ End Carousel First Item ------------------------x-->
      
      <div class="carousel-item"><!-- ---------------- Start Carousel Second Item -------------------- -->
        <div class="row">
        
          <div class="col-12 col-md-6 col-lg-6 col-xl-4"><!-- Start Carousel Second Item Card Number 1 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/chc.jpg" alt="">
             </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 1 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-md-block"><!-- Start Carousel Second Item Card Number 2 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt=""> 
            </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 2 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-xl-block"><!-- Start Carousel Second Item Card Number 3 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
            </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 3 ----------------x -->
          
        </div>
      </div><!--x------------------------------ End Carousel Second Item ------------------------x-->
      
    
      
    </div><!-- x ----------------- End Carousel Inner ---------------------- x -->
    </div><!-- x ------------- END Carouser Container DIV --------- x -->
</section><!-- x ---- End Carousel (Slider) Post --- x -->



	<!-- jQuery Library  --> <!-- ------------------------- Start Script Files ----------------- -->
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<!-- Proper JS -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<!-- Bootstrap Minified JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
	<!-- Font Awesome Script Link -->
	<script src="https://kit.fontawesome.com/ef16f745ed.js" crossorigin="anonymous"></script>
	<!-- Custom JavaScript -->
	<script>
	
		// Navigation (Navbar) Sticky Script

		$(document).ready(function(){
			$(window).scroll(function(){
				if(this.scrollY > 20){
					$('.navbar').addClass("sticky");
				}else{
					$('.navbar').removeClass("sticky");
				}
			})
		});
	
	</script>
	

</body>

</html>