<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>champions</title>
	<%- include('../partials/head'); %>

</head>


<body class="vermas">

	<%- include('../partials/NavBar'); %>


      <!-- section starts  -->
      <section id="hero">
          <div class="container-xl">
              <div class="row gy-4">
                  <div class="col-lg-8">

                      <div class="post featured-post-lg">
                          <div class="details clearfix">
                              <a href="#" class="category-badge">Deportes</a>
                              <h3 class="post-title">
                                Resumen del miércoles en la UEFA Champions League: noche redonda para Real Madrid, Liverpool, City y Sporting                 </h3>
                              <ul class="meta list-inline mb-0">
                                  <li class="list-inline-item">
                                     <h6>Real Madrid, Sporting, City y Paris sellaron su billete a octavos de final tras sus resultados en la quinta jornada</h66>
                                  </li>
                                  <li class="list-inline-item">24 nov 2021</li>
                              </ul>
                          </div>
                         
                              <div class="thumb rounded">
                                  <img class="w-100 img-fluid" src="assets/img/deportes/championslogo.jpg" " alt="">
                              </div>
                        
                      </div>

                      <ul class="meta list-inline mb-0">
                        <li class="list-inline-item">
                         <p> Real Madrid, Sporting, City y Paris sellaron su billete a octavos de final tras sus resultados en la quinta jornada. Pleno de puntos para el Ajax y Liverpool.

                          UEFA.com resumen toda la acción de la segunda tanda de partidos de la Jornada 5.

                          <br>
<br>
                          Grupo A
Manchester City - Paris 2-1

El Manchester City remontó y venció al Paris Saint-Germain para consolidarse como primer clasificado del Grupo A de la UEFA Champions League. Los de Guardiola le dieron la vuelta al gol logrado por Mbappé tras el descanso gracias a los tantos de Sterling y Gabriel Jesus, consolidando así la superioridad del conjunto inglés demostrada durante todo el partido. Tras la goleada del Leipzig en Bélgica, el equipo de Pochettino también se ha clasificado matemáticamente en segunda posición.
<br>
<br><br>
Brujas - Leipzig 0-5

El Leipzig protagonizó un festival de goles en su visita a Bélgica tras golear cómodamente al Brujas. Forsberg fue protagonista con un doblete, mientras que Nkunku, con un 'hat-trick', y André Silva también auparon al cuadro germano. El Leipzig ahora suma cuatro puntos y peleará por la tercera plaza en la última jornada.

<br>
<br><br>
Liverpool - Oporto 2-0

El Liverpool refrendó la primera plaza del Grupo B con su victoria ante el Oporto en casa. Thiago Alcántara doblegó la resistencia lusa en la segunda parte para allanar el camino a los de Jürgen Klopp, que son primeros de grupo de forma indiscutible con pleno de triunfos.
Liverpool - Oporto 2-0
<br>
<br><br>
Sporting CP - Dortmund 3-1

Getty Images
El Sporting hizo valer su condición de local en la quinta jornada tras imponerse al Dortmund espoleado por un doblete de Pedro Gonçalves en la primera parte y otro tanto de Pedro Porro en el segundo acto. El conjunto lisboeta ahora suma nueve puntos tras cinco jornadas y se aseguró la segunda plaza de su grupo.
<br>
                       <a href="https://es.uefa.com/uefachampionsleague/news/026f-13cd3417cce9-9cb027f10338-1000--noche-redonda-para-real-madrid-liverpool-city-y-sporting/">Fuente : UEFA</a></p>
                      
                    </ul>
                  </div>
                  <div class="col-lg-4">

                              <!-- recent  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                              <div class="inner">
                                                <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
                                            </div>
                                      </div>
                                  </div>
                                  <!-- post2  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                              <div class="inner">
                                                <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt="">
                                            </div>
                                      </div>
                                      </div>
                                  </div>
                                  <!-- post3  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                          <a href="#">
                                              <div class="inner">
                                                  <img src="assets/img/deparez-river.jpg" alt="">
                                              </div>
                                          </a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <!-- main content  -->

      <section class="carousel slide" id="carousel" data-ride="carousel" data-interval="5000"><!-- Start Carousel (Slider) Post -->
  <div class="container">
  
    <div class="carousel-inner"><!-- -------------------- Start Carousel Inner -------------------------- -->
    
      <div class="carousel-item active"><!-- ---------------- Start Carousel First Item -------------------- -->
        <div class="row">
        
          <div class="col-12 col-md-6 col-lg-6 col-xl-4"><!-- Start Carousel First Item Card Number 1 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
              
              </article>
          </div><!-- x ------------- End Carousel First Item Card Number 1 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-md-block"><!-- Start Carousel First Item Card Number 2 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt="">
              
           </article>
          </div><!-- x ------------- End Carousel First Item Card Number 2 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-xl-block"><!-- Start Carousel First Item Card Number 3 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/chc.jpg" alt="">
            </article>
          </div><!-- x ------------- End Carousel First Item Card Number 3 ----------------x -->
          
        </div>
      </div><!--x------------------------------ End Carousel First Item ------------------------x-->
      
      <div class="carousel-item"><!-- ---------------- Start Carousel Second Item -------------------- -->
        <div class="row">
        
          <div class="col-12 col-md-6 col-lg-6 col-xl-4"><!-- Start Carousel Second Item Card Number 1 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/chc.jpg" alt="">
             </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 1 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-md-block"><!-- Start Carousel Second Item Card Number 2 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt=""> 
            </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 2 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-xl-block"><!-- Start Carousel Second Item Card Number 3 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
            </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 3 ----------------x -->
          
        </div>
      </div><!--x------------------------------ End Carousel Second Item ------------------------x-->
      
    
      
    </div><!-- x ----------------- End Carousel Inner ---------------------- x -->
    </div><!-- x ------------- END Carouser Container DIV --------- x -->
</section><!-- x ---- End Carousel (Slider) Post --- x -->



	<!-- jQuery Library  --> <!-- ------------------------- Start Script Files ----------------- -->
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<!-- Proper JS -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<!-- Bootstrap Minified JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
	<!-- Font Awesome Script Link -->
	<script src="https://kit.fontawesome.com/ef16f745ed.js" crossorigin="anonymous"></script>
	<!-- Custom JavaScript -->
	<script>
	
		// Navigation (Navbar) Sticky Script

		$(document).ready(function(){
			$(window).scroll(function(){
				if(this.scrollY > 20){
					$('.navbar').addClass("sticky");
				}else{
					$('.navbar').removeClass("sticky");
				}
			})
		});
	
	</script>
	

</body>

</html>