<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ILE en tartagal</title>
	<%- include('../partials/head'); %>

</head>


<body class="vermas">

	<%- include('../partials/NavBar'); %>


      <!-- section starts  -->
      <section id="hero">
          <div class="container-xl">
              <div class="row gy-4">
                  <div class="col-lg-8">

                      <div class="post featured-post-lg">
                          <div class="details clearfix">
                              <a href="#" class="category-badge">Deportes</a>
                              <h3 class="post-title">
                                Concentraciones y repudios por la detención de una médica que practicó una ILE
                              </h3>
                              <ul class="meta list-inline mb-0">
                                  <li class="list-inline-item">
                                     <h6>
                                        Distintas organizaciones realizaron un pañuelazo frente al Hospital Público Materno Infantil de Salta,  frente al hospital de Tartagal
                                     </h6>
                                  </li>
                                  <li class="list-inline-item">24 nov 2021</li>
                              </ul>
                          </div>
                         
                              <div class="thumb rounded">
                                  <img class="w-100 img-fluid" src="assets/img/local/ile.jpg" alt="">
                              </div>
                        
                      </div>

                      <ul class="meta list-inline mb-0">
                        <li class="list-inline-item">
                         <p> Concentraciones en Salta y en la Ciudad de Buenos Aires convocadas por organizaciones de derechos humanos pidieron la liberación de una médica detenida esta mañana, en la ciudad de Tartagal, en el norte salteño, luego de haber sido denunciada por realizar una interrupción legal del embarazo (ILE), y esta tarde el juez de la causa ordenó su liberación.

                            También en Salta, en la última semana de agosto, la Sala II de la Cámara Federal de Apelaciones, concedió legitimidad al reclamo de un grupo de personas en una declaración de inconstitucionalidad planteada contra la ley de interrupción voluntario del embarazo (IVE), en un fallo por mayoría.
                            
                            No obstante, fuentes oficiales explicaron a Télam que la decisión puede ser apelada hasta el próximo viernes 10 de septiembre, por lo que en este momento están trabajando en un recurso extraordinario.
                            
                            Este jueves se conoció esta decisión judicial y en paralelo, se dio la situación en Tartagal que terminó con la detención de la médica, la única que no apela a la objeción de conciencia para realizar abortos legales en esa localidad.
                            
                            “Estamos bastante preocupadas. Hasta el momento estábamos acostumbradas al amedrentamiento y a que la prensa local saque noticias falaces, pero llevar presa a una compañera en cumplimiento de su deber como funcionaria pública es mucho”, dijo a Télam Macarena Villena, de la Red de Profesionales de la Salud por el Derecho a Decidir.
                            
                            En el mismo sentido se pronunció la ministra de las Mujeres, Géneros y Diversidad, Elizabeth Gómez Alcorta: "Tememos que se trate de un modo de amedrentar y disciplinar a profesionales que se encuentran llevando adelante prácticas de ILE e IVE , amparadas por la ley en todo el país, por lo que vamos a estar haciendo un seguimiento muy cercano de la intervención judicial y del caso".
                            <br>
                        <a href="https://www.telam.com.ar/notas/202109/567399-concentraciones-y-repudios-por-la-detencion-de-una-medica-por-practicar-un-aborto.html">Fuente : Telam</a> </p>
                      
                    </ul>
                  </div>
                  <div class="col-lg-4">

                              <!-- recent  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                              <div class="inner">
                                                <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
                                            </div>
                                      </div>
                                  </div>
                                  <!-- post2  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                              <div class="inner">
                                                <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt="">
                                            </div>
                                      </div>
                                      </div>
                                  </div>
                                  <!-- post3  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                          <a href="#">
                                              <div class="inner">
                                                  <img src="assets/img/deparez-river.jpg" alt="">
                                              </div>
                                          </a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <!-- main content  -->

      <section class="carousel slide" id="carousel" data-ride="carousel" data-interval="5000"><!-- Start Carousel (Slider) Post -->
  <div class="container">
  
    <div class="carousel-inner"><!-- -------------------- Start Carousel Inner -------------------------- -->
    
      <div class="carousel-item active"><!-- ---------------- Start Carousel First Item -------------------- -->
        <div class="row">
        
          <div class="col-12 col-md-6 col-lg-6 col-xl-4"><!-- Start Carousel First Item Card Number 1 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
              
              </article>
          </div><!-- x ------------- End Carousel First Item Card Number 1 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-md-block"><!-- Start Carousel First Item Card Number 2 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt="">
              
           </article>
          </div><!-- x ------------- End Carousel First Item Card Number 2 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-xl-block"><!-- Start Carousel First Item Card Number 3 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/chc.jpg" alt="">
            </article>
          </div><!-- x ------------- End Carousel First Item Card Number 3 ----------------x -->
          
        </div>
      </div><!--x------------------------------ End Carousel First Item ------------------------x-->
      
      <div class="carousel-item"><!-- ---------------- Start Carousel Second Item -------------------- -->
        <div class="row">
        
          <div class="col-12 col-md-6 col-lg-6 col-xl-4"><!-- Start Carousel Second Item Card Number 1 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/chc.jpg" alt="">
             </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 1 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-md-block"><!-- Start Carousel Second Item Card Number 2 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt=""> 
            </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 2 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-xl-block"><!-- Start Carousel Second Item Card Number 3 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
            </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 3 ----------------x -->
          
        </div>
      </div><!--x------------------------------ End Carousel Second Item ------------------------x-->
      
    
      
    </div><!-- x ----------------- End Carousel Inner ---------------------- x -->
    </div><!-- x ------------- END Carouser Container DIV --------- x -->
</section><!-- x ---- End Carousel (Slider) Post --- x -->



	<!-- jQuery Library  --> <!-- ------------------------- Start Script Files ----------------- -->
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<!-- Proper JS -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<!-- Bootstrap Minified JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
	<!-- Font Awesome Script Link -->
	<script src="https://kit.fontawesome.com/ef16f745ed.js" crossorigin="anonymous"></script>
	<!-- Custom JavaScript -->
	<script>
	
		// Navigation (Navbar) Sticky Script

		$(document).ready(function(){
			$(window).scroll(function(){
				if(this.scrollY > 20){
					$('.navbar').addClass("sticky");
				}else{
					$('.navbar').removeClass("sticky");
				}
			})
		});
	
	</script>
	

</body>

</html>