<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Murio la niña en salta</title>
	<%- include('../partials/head'); %>

</head>


<body class="vermas">

	<%- include('../partials/NavBar'); %>


      <!-- section starts  -->
      <section id="hero">
          <div class="container-xl">
              <div class="row gy-4">
                  <div class="col-lg-8">

                      <div class="post featured-post-lg">
                          <div class="details clearfix">
                              <a href="#" class="category-badge">Deportes</a>
                              <h3 class="post-title">
                                Murió la nena wichi de 13 años que estaba embarazada tras una violación
                              </h3>
                              <ul class="meta list-inline mb-0">
                                  <li class="list-inline-item">
                                     <h6>
                                        Murió la nena wichi de 13 años que estaba embarazada tras una violación
                                        La nena wichi de Pacará tenía ocho meses de embarazo pero su cuerpo no aguantó la hipertensión gestacional que tenía.
                                     </h6>
                                  </li>
                                  <li class="list-inline-item">24 nov 2021</li>
                              </ul>
                          </div>
                         
                              <div class="thumb rounded">
                                  <img class="w-100 img-fluid" src="assets/img/local/wichi-de-pacara.jpg" alt="">
                              </div>
                        
                      </div>

                      <ul class="meta list-inline mb-0">
                        <li class="list-inline-item">
                         <p>
                            La nena wichi de Pacará, que había sido noticia tras haber quedado embarazada a los 13 años por una violación, murió hace unas horas luego de su salud se deteriorara a causa de la hipertensión gestacional que tenía.
                            La nena wichi de Pacará, ubicado en el Chaco salteño, estaba atravesando por el octavo mes de embarazo pero su bebé murió cuando una fuerte convulsión tiró a la nena de la camilla del hospital en donde estaba siendo atendida
                            La comunidad wichi, la cual está ubicada 40 kilómetros al este de Tartagal, se encuentra conmocionada por la muerte de la nena que cursó su embarazo padeciendo preeclampsia, sin ningún control médico y con nutrición preocupante.
                            LA 100 > POLICIALES
20 agosto 2021 11:46
Murió la nena wichi de 13 años que estaba embarazada tras una violación
La nena wichi de Pacará tenía ocho meses de embarazo pero su cuerpo no aguantó la hipertensión gestacional que tenía.
Murió la nena wichi de 13 años que estaba embarazada tras una violación
La nena wichi tenía muerte cerebral
La nena wichi de Pacará, que había sido noticia tras haber quedado embarazada a los 13 años por una violación, murió hace unas horas luego de su salud se deteriorara a causa de la hipertensión gestacional que tenía.
La nena wichi de Pacará, ubicado en el Chaco salteño, estaba atravesando por el octavo mes de embarazo pero su bebé murió cuando una fuerte convulsión tiró a la nena de la camilla del hospital en donde estaba siendo atendida.
Mirá también:
TIENE 15 AÑOS Y DENUNCIÓ QUE DURANTE 9 AÑOS FUE VIOLADA POR SU PAPÁ, SU ABUELO Y SU TÍO
La comunidad wichi, la cual está ubicada 40 kilómetros al este de Tartagal, se encuentra conmocionada por la muerte de la nena que cursó su embarazo padeciendo preeclampsia, sin ningún control médico y con nutrición preocupante.
Murió la nena wichi de 13 años que estaba embarazada tras una violación
La nena wichi había sido internada
Al presentar una gran desmejoría en su salud, la nena wichi fue trasladada al hospital de Tartagal en donde presentó un cuadro eclampsia presentando sus convulsiones que la voltearon de la camilla.
Tras la caída, la nena tuvo que ser sometida a una cesárea urgente, lo cual la llevó a tener una  muerte cerebral hasta ayer, momento en el que su pequeño cuerpo no dio más y murió demostrando las atrocidades que suceden en la sociedad.
El martes 10, la nena wichi había sido internada tras caerse de la camilla en el hospital Perón pero las autoridades no revelaron datos de su estado de salud y sus condiciones físicas a los medios.

                            <br>
                        <a href="https://la100.cienradios.com/policiales/murio-la-nena-wichi-de-13-anos-que-estaba-embarazada-tras-una-violacion/">FUENTE :LA 100</a></p>
                      
                    </ul>
                  </div>
                  <div class="col-lg-4">

                              <!-- recent  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                              <div class="inner">
                                                <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
                                            </div>
                                      </div>
                                  </div>
                                  <!-- post2  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                              <div class="inner">
                                                <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt="">
                                            </div>
                                      </div>
                                      </div>
                                  </div>
                                  <!-- post3  -->
                                  <div class="post post-list-sm circle">
                                      <div class="thumb circle">
                                          <a href="#">
                                              <div class="inner">
                                                  <img src="assets/img/deparez-river.jpg" alt="">
                                              </div>
                                          </a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <!-- main content  -->

      <section class="carousel slide" id="carousel" data-ride="carousel" data-interval="5000"><!-- Start Carousel (Slider) Post -->
  <div class="container">
  
    <div class="carousel-inner"><!-- -------------------- Start Carousel Inner -------------------------- -->
    
      <div class="carousel-item active"><!-- ---------------- Start Carousel First Item -------------------- -->
        <div class="row">
        
          <div class="col-12 col-md-6 col-lg-6 col-xl-4"><!-- Start Carousel First Item Card Number 1 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
              
              </article>
          </div><!-- x ------------- End Carousel First Item Card Number 1 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-md-block"><!-- Start Carousel First Item Card Number 2 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt="">
              
           </article>
          </div><!-- x ------------- End Carousel First Item Card Number 2 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-xl-block"><!-- Start Carousel First Item Card Number 3 -->
            <article>
              <img class="w-100 img-fluid" src="assets/img/article/chc.jpg" alt="">
            </article>
          </div><!-- x ------------- End Carousel First Item Card Number 3 ----------------x -->
          
        </div>
      </div><!--x------------------------------ End Carousel First Item ------------------------x-->
      
      <div class="carousel-item"><!-- ---------------- Start Carousel Second Item -------------------- -->
        <div class="row">
        
          <div class="col-12 col-md-6 col-lg-6 col-xl-4"><!-- Start Carousel Second Item Card Number 1 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/chc.jpg" alt="">
             </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 1 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-md-block"><!-- Start Carousel Second Item Card Number 2 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/roberi.jpg" alt=""> 
            </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 2 ----------------x -->
          
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 d-none d-xl-block"><!-- Start Carousel Second Item Card Number 3 -->
            <article>
                <img class="w-100 img-fluid" src="assets/img/article/moes.jpg" alt="">
            </article>
          </div><!-- x ------------- End Carousel Second Item Card Number 3 ----------------x -->
          
        </div>
      </div><!--x------------------------------ End Carousel Second Item ------------------------x-->
      
    
      
    </div><!-- x ----------------- End Carousel Inner ---------------------- x -->
    </div><!-- x ------------- END Carouser Container DIV --------- x -->
</section><!-- x ---- End Carousel (Slider) Post --- x -->



	<!-- jQuery Library  --> <!-- ------------------------- Start Script Files ----------------- -->
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<!-- Proper JS -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<!-- Bootstrap Minified JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
	<!-- Font Awesome Script Link -->
	<script src="https://kit.fontawesome.com/ef16f745ed.js" crossorigin="anonymous"></script>
	<!-- Custom JavaScript -->
	<script>
	
		// Navigation (Navbar) Sticky Script

		$(document).ready(function(){
			$(window).scroll(function(){
				if(this.scrollY > 20){
					$('.navbar').addClass("sticky");
				}else{
					$('.navbar').removeClass("sticky");
				}
			})
		});
	
	</script>
	

</body>

</html>